body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #9370DB; /* Medium purple background color */
}

.container {
  background-color: #F0F0F0; /* Eggshell or grey background color */
  padding: 20px;
  border-radius: 10px;
}

.score-container {
  text-align: center;
  margin-bottom: 20px;
}

.score {
  font-weight: bold;
}

.board-card {
  background-color: #F0F0F0; /* Eggshell or grey background color */
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  gap: 2px;
  border: 4px solid black; /* Bold borders for the game board */
}

.cell {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  cursor: pointer;
}

.cell.X {
  color: #008000; /* Green text color for X */
}

.cell.O {
  color: #0000FF; /* Blue text color for O */
}

.reset {
  background-color: #FFA07A; /* Light matte red background color */
  color: black; /* Black text color */
  border: none;
  padding: 15px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 35px;
}

.reset:hover {
  background-color: #FF7F50; /* Lighter matte red background color on hover */
}
